/* target the body of html file */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
    /* using flexbox */
    display: flex;
    justify-content: center; /* center lengthwise */
    align-items: center; /* center heightwise, but we need to specify page height */
    height: 100vh;
    background: #1F2835;
    color: white;
    overflow: hidden;
    /* transition: all 300ms ease; /* smooth out the transition between light and dark */
  }

  /* Title bar */
  #titlebar {
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background:#613239;
    color: #FFC7B6;
    border-bottom: 2px solid grey;
  }
  h1{
    position: absolute;
    left: 100px;
    top: 10px;
    bottom: 30px;
    margin: 10px;
  }
  #titlebar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
    position: absolute;
    top: 23px;
    left: 505px;
    bottom: 20px;
    width: 30vw;
    border-radius: 18px; /*round bois* */
    background: #f0f0f0;
  }
  #topbarTitle{
    text-shadow: 2px 2px #3d5e43;
  }
  #topbarHome{
    padding: 10px;
    position: absolute;
    top: -5px;
    right: 700px;
    text-decoration: none;
    color: #ffe0e6;
  }
  #topbarGames{
    padding: 10px;
    position: absolute;
    top: -4px;
    right: 580px;
    text-decoration: none;
    color: #ffe0e6;
  }
  #topbarUpload{
    position: absolute;
    right: 525px;
    top: 28px;
    max-width: 30px;
    max-height:30px;
  }
  #monke{
    position:absolute;
    right: 420px;
    top: 18px;
    border-radius: 50%;
    max-height: 45px;
    max-width: 45px;
  }
  #welcome{
    position: absolute;
    right: 160px;
    top:5px;
  }
  #settings{
    position:absolute;
    right: 80px;
    top: 23px;
    border-radius: 50%;
    max-height: 45px;
    max-width: 45px;
  }
  #discoverTitle{
    position: absolute;
    left:10%;
    top: 11%;
    font-size: 5vh;
    color: #ffe0e6;
    text-shadow: 3px 3px #613239;
  }
  .buttons{
    border-radius: 8px;
    color: #f0f0f0;
    display: inline-block;
    font-size: 12px;
    font-weight: bolder;
    margin: 1px 4px;
    cursor: pointer;
    width: 107px;
    height: 35px;
    text-align: center;
  }
  .emoji{
    padding-right:4px;
  }
  .epic {
    background-color: rgba(255, 255, 255, 0.068);
    text-align: left;
  }
  .pog {
    background-color: rgba(255, 255, 255, 0.068);
    text-align: left;
  }
  .cringe {
    background-color: rgba(255, 255, 255, 0.068);
    text-align: left;
  }
  .bruh {
    background-color: rgba(255, 255, 255, 0.068);
    text-align: left;
  }
  .buttoncontent {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .buttonbox {
    width: 60%;
    max-height: 45px;
    display: inline-block;
  }

  /* "flexbox" */
  div {
    padding: 5px;
  }

  .flexbox {
    /* center the div text so center-align */
    text-align: center;
    border: 10px solid rgb(95, 82, 207); /* can do double, dotted, etc. */
    padding: 16px; /* make text spaced out */
    box-shadow: 8px 8px rgb(0, 102, 255); /* depth, offset */
    border-radius: 10px; /* round corners */
  }
  
  img {
    max-width: 100px;
    /*border-radius: 50%; /* create a circle image with square image */
  }
  
  a {
    text-decoration: none; /* gets rid of style from a-tag */
    color: #ffe0e6;
  }
  
  /* Follower box */
  #followerbox {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 78vh;
    width: 18%;
    position: absolute;
    top: 15%;
    right: 10%;
    text-align: center;
    overflow: auto;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f142;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(58, 58, 58);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(56, 54, 54);
  }

  #followertitle {
    position: absolute;
    height: 100px;
    left: 76%;
    top: 8%;
    display: flex;
    color: #ffe0e6;
  }

  .followerimg {
    max-width: 45px;
    max-height: 45px;
    border-radius: 50%;
  }
  .followerimg:hover {
    cursor: pointer;
  }

  .followerblock {
    display: flex;
    padding-left: 35px;
    padding-top: 5px;
    padding-bottom: 15px;
    height: 120px;
    /* temp border for visualization */
    /* border: 4px solid black; */
    align-items: left;
    gap: 10px;
  }

  .followervid {
    max-height: 117px;
    max-width: 208px;
    border-radius: 15px;
  }
  .followervid:hover {
    cursor: pointer;
    filter: brightness(0.6);
    transition: all 500ms ease;
  }

  #discoverbox {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 73vh;
    position: absolute;
    width: 53.9%;
    top: 20%;
    left: 10%;
    /* border: 4px solid white; */
    overflow-y: auto;
  }

  #discoverbox::-webkit-scrollbar {
    display: none;
  }

  .discoverblock {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.404);
  }

  .discovervid {
    max-height: 576px;
    max-width: 1024px;
  }

  .discoverfooter {
    background-image: linear-gradient(to bottom, #1F2835, #516380);
    border-radius: 45px;
    display: flex;
    max-width: 1015px;
    max-height: 45px;
    margin-top: 10px;
    flex-direction: row;
    align-items: center;
    justify-items: center;
  }

  .discovercomments {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-direction: column;
    overflow: hidden;
  }

  .followbutton {
    width: 80px;
    height: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    border-radius: 45px;
    background: rgba(0, 0, 0, 0.459);
  }
  .followbutton:hover {
    cursor: cell;
    background: rgba(0, 0, 0, 0.637);
    transition: all 500ms ease;
  }

  #tagline {
    position: absolute;
    text-align: center;
    bottom: 5px;
  }