nav {
  display: flex;
  justify-content: space-between;
  min-height: 10vh;
  background: lightblue;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}