@import url("https://fonts.googleapis.com/css?family=Overpass");

:root {
  --blue: rgb(77, 178, 211);
  --dark-blue: rgb(36, 124, 153);
}

body {
  font-family: "Overpass", sans-serif;
  margin: 0;
}

nav {
  display: flex;
  gap: 0.5rem;
}

/* NAVBAR */

.navbar-bg {
  display: flex;
  align-items: center;
  min-height: 60px;
  width: 100%;
  background: var(--blue);
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1150px;
  padding: 0 1rem;
  margin: auto;
}

.nav-btn {
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 1.5rem;
  border: none;
  background: transparent;
  font-size: 1rem;
  font-weight: 800;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  color: black;
  transition: color 200ms, fill 200ms;
}

.nav-btn:hover {
  cursor: pointer;
  color: white;
  fill: white;
}

.active {
  border-bottom: 3px white solid;
  color: white;
  fill: white;
}

.nav-icon {
  width: 20px;
  height: 20px;
}

.postlist {
  display: flex;
}


/* POST */

.post-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 50px;
  border-bottom: 2px solid
}

.post-title-container {
  margin-right: 7px;
  margin-left: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

.post-video {
  width: 1020px;
  height: 574px;
}

.reactions-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 7px;
  margin-left: 7px;
  margin-bottom: 50px;
}

.reactbtn {
  border: none;
  border-radius: 5px;
}

.activebtn {
  background-color: rgb(148, 144, 144);
}

.reactbtn:hover {
  cursor: pointer;
}

.reacticon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

/* MAIN CONTENT */

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HOME */

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
}
